<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Property</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1>Add Property</h1>
    <form th:action="@{/owner/add}" th:object="${propriete}" method="post" enctype = "multipart/form-data">
        <div class="form-group">
            <label for="nom">Nom</label>
            <input type="text" class="form-control" id="nom" th:field="*{nom}" placeholder="Enter property name">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" th:field="*{description}" placeholder="Enter description"></textarea>
        </div>
        <div class="form-group">
            <label for="adresse">Adresse</label>
            <input type="text" class="form-control" id="adresse" th:field="*{adresse}" placeholder="Enter address">
        </div>
        <div class="form-group">
            <label for="prix">Prix</label>
            <input type="number" class="form-control" id="prix" th:field="*{prix}" placeholder="Enter price">
        </div>
        <div class="form-group">
            <label for="nombreDeChambres">Nombre de Chambres</label>
            <input type="number" class="form-control" id="nombreDeChambres" th:field="*{nombreDeChambres}" placeholder="Enter number of rooms">
        </div>
        <div class="form-group">
            <label for="nombreDeBains">Nombre de Bains</label>
            <input type="number" class="form-control" id="nombreDeBains" th:field="*{nombreDeBains}" placeholder="Enter number of baths">
        </div>
        <div class="form-group">
            <label for="superficie">Superficie</label>
            <input type="number" class="form-control" id="superficie" th:field="*{superficie}" placeholder="Enter area">
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="fumeur" th:field="*{fumeur}">
            <label class="form-check-label" for="fumeur">Fumeur</label>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="animauxDomestiques" th:field="*{animauxDomestiques}">
            <label class="form-check-label" for="animauxDomestiques">Animaux Domestiques</label>
        </div>
        <div class="form-group">
            <label for="photos">Photos</label>
            <input type="file" class="form-control-file" id="photos" name="photos" multiple>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<!-- Include Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>