<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Property</title>
</head>
<body>
<h1>Add Property</h1>
<form action="#" method="post">
    <label for="titre">Titre:</label>
    <input type="text" id="titre" name="titre"><br>
    <label for="description">Description:</label><br>
    <textarea id="description" name="description"></textarea><br>
    <label for="adresse">Adresse:</label>
    <input type="text" id="adresse" name="adresse"><br>
    <label for="prix">Prix:</label>
    <input type="text" id="prix" name="prix"><br>
    <label for="piece">Nombre de pièces:</label>
    <input type="text" id="piece" name="piece"><br>
    <label for="superficie">Superficie:</label>
    <input type="text" id="superficie" name="superficie"><br>
    <label for="photos">Photos:</label>
    <input type="file" id="photos" name="photos" multiple><br>
    <input type="submit" value="Add">
</form>
</body>
</html>
