<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Owner Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="text-center">
<!-- Section: Design Block -->
<section class="text-center text-lg-start">
    <!-- Jumbotron -->
    <div class="container py-4">
        <h2 class="fw-bold mb-5">Espace Proprietaire</h2>
        <div class="row g-0 align-items-center">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="card cascading-right bg-body-tertiary" style="backdrop-filter: blur(30px);">
                    <div class="card-body p-5 shadow-5 text-center">
                        <h2 class="fw-bold mb-5">Please register</h2>
                        <form class="form-signin" th:action="@{/templates/owner/register}" method="post">
                            <!-- Nom input -->
                            <div class="form-outline mb-4">
                                <label class="form-label" for="nom">Nom</label>
                                <input type="text" id="nom" name="nom" class="form-control" placeholder="Nom" required autofocus>
                            </div>

                            <!-- Prenom input -->
                            <div class="form-outline mb-4">
                                <label class="form-label" for="prenom">Prénom</label>
                                <input type="text" id="prenom" name="prenom" class="form-control" placeholder="Prénom" required>
                            </div>

                            <!-- Email input -->
                            <div class="form-outline mb-4">
                                <label class="form-label" for="email">Email address</label>
                                <input type="email" id="email" name="email" class="form-control" placeholder="Email address" required>
                            </div>

                            <!-- Password input -->
                            <div class="form-outline mb-4">
                                <label class="form-label" for="motDePasse">Password</label>
                                <input type="password" id="motDePasse" name="motDePasse" class="form-control" placeholder="Password" required>
                            </div>

                            <!-- Submit button -->
                            <button class="btn btn-primary btn-block mb-4" type="submit">Register</button>

                            <p class="mt-5 mb-3 text-muted">Already a member? <a th:href="@{/templates/owner/login}">Login Here</a></p>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mb-5 mb-lg-0">
                <img src="https://www.century21.fr/imagesBien/202/cms/903605236/article-loc-depart.jpg" class="w-100 rounded-4 shadow-4" alt="" />
            </div>
        </div>
    </div>
    <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
