<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Property Search</title>
</head>
<body>
<h1>Property Search</h1>
<form action="#" method="get">
    <label for="prixMin">Prix Min:</label>
    <input type="text" id="prixMin" name="prixMin"><br>
    <label for="prixMax">Prix Max:</label>
    <input type="text" id="prixMax" name="prixMax"><br>
    <label for="piece">Nombre de pièces:</label>
    <input type="text" id="piece" name="piece"><br>
    <input type="submit" value="Search">
</form>
</body>
</html>
